<div id="responseHistory">
<h2>Verlauf</h2>
    <ul id="historyList"> 
        {% for entry in history %} 
        <ul id="entry{{entry['id']}}">
            <li id="request{{ entry['id'] }}">Anfrage: {{ entry['user_prompt'] }}</li>
            <li id="response{{ entry['id'] }}">Antwort: {{ entry['response'] }}</li>
            <li>
                {% if entry['response_audio'] != None %}
                <audio controls="controls">
                    <source src="{{ 'audio/responses/' + entry['response_audio'] }}">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
            </li>
        </ul>
        {% endfor %} 
    </ul> 
</div>