<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Lora&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <title>Dein persönlicher Audioguide</title>
</head>
<body>
    <header>
        <div id="languageSelect">
            <label for="language">Sprache wählen:</label>
            <select id="language">
                <option value="de">Deutsch</option>
                <option value="en">English</option>
            </select>
        </div>
    </header>

    <div>
        <h1 id="welcome">Willkommen bei deinem persönlichen Audioguide!</h1>
        <div id="explain">Der Audioguide wird sich nach deinen Interessen und Wünschen verhalten und kann dir so ein sehr individuelles Erlebnis ermöglichen. Um dich startklar zu kriegen, müssen wir noch ein paar Einstellungen vornehmen. Drücke auf "Start", um weiter zu machen. Viel Spaß! Julian & Philipp</div>
        <button id="startButton" onclick="showPopup()">Starte deine Tour!</button>
    </div>

    <div id="popup">
        <form action="/questionpage" method="POST">
        <label for="ageInput">Wie alt sind Sie?</label>
        <select name="ageInput">
            <option value="kind">Kind</option>
            <option value="jugendlich">Jugendlich</option>
            <option value="erwachsen">Erwachsen</option>
        </select>

        <br>

        <label for="interestSelect">Wählen Sie Ihre Interessen:</label>
        <select name="interestSelect">
            <option value="Maltechniken">Maltechniken</option>
            <option value="Kunstgeschichte">Kunstgeschichte</option>
            <option value="Kontext">Kontext</option>
            <option value="Biografie">Biografie</option>
        </select>

        <br>

        <label for="frequenceSelect">Wie oft gehern Sie ins Museum?:</label>
        <select name="frequenceSelect">
            <option value="Selten">0-1 mal pro Jahr</option>
            <option value="manchmal">1-2 mal pro Jahr</option>
            <option value="regelmäßig">2+ mal pro Jahr</option>
        </select>
        <br>
        <!--<button id="finishButton" onclick="closePopupAndRedirect()">Fertig</button>-->
        <input id="finishButton" type="submit" value="Fertig">
    </form>
    </div>
    
    <script>
        function showPopup() {
            document.getElementById('popup').style.display = 'block';
        }
    </script>
</body>

<footer>
    &copy; 2023 Dein persönlicher Audioguide
</footer>
</html>
